* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-image: url('https://nicklodeon.files.wordpress.com/2011/01/movie-theater.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  color: whitesmoke;
  margin: auto;
}


form, section {
  margin-top: 10px;

}
label {
  display: block;
  display:inline-block;
  width: 80px;
}

button, input[type=submit] {
  height: 30px;
  width: 100px;
  background-color: lightblue;
}

button {

  margin: auto;
  height: 30px;
  width: 100px;
  /* margin-left: 20px;*/
  margin-top: 20px;
  background-color: silver;
  border-radius: 15px;
  margin-left: 0px;
}

#nav li {
  display: inline;
}

#nav {
  margin: auto;
  padding: 0px;
}



a {
  color: whitesmoke;
  font-size: 20px;
  text-decoration: none;
}

h2 {
  font-size: 40px;
}

li {
  list-style: none;
  margin: auto;
  text-align: center;
}

ul {
  padding: 0px;
}

.background-wrap {
  position: fixed;
  z-index: -1000;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
}

#video-bg-elem {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
}

.content {
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 20px;
  width: 800px;
  min-height: 100%;
  z-index: 1000;
  background-color: rgba(19, 18, 18, 0.7);
}

.writeupdate {
  padding-top: 10px;
}

.search-box {
  display: block;
  margin: auto;
  border-radius: 15px;
  margin-top: 0px;
  text-align: center;
}

.username, .password, .confirmPassword{
  border-radius: 15px;
  text-align: center;
  margin-top: 3px;
}

.reviewLabel{
  margin: 0 auto;
}
.detail-legend {
  text-align: center;
}

.list{
  text-align: left;
  margin: auto;
  display: block;
}

.name {
  margin: 0 auto;
}


.fieldsets {
  /* width: 100%; */
  padding: 0px;
  border: 0px;
}

.movie-search {
  margin: auto;
  text-decoration-color: silver;
}
/* .btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}*/

button:hover {
  background: #a3c2d4;
  background-image: -webkit-linear-gradient(top, #a3c2d4, #a3c2d4);
  background-image: -moz-linear-gradient(top, #a3c2d4, #a3c2d4);
  background-image: -ms-linear-gradient(top, #a3c2d4, #a3c2d4);
  background-image: -o-linear-gradient(top, #a3c2d4, #a3c2d4);
  background-image: linear-gradient(to bottom, #a3c2d4, #a3c2d4);
  text-decoration: none;
} 